.container {
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  align-self: center;
  position: relative;
  top: 15vh;
  background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
}

.topGlowDecor {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #3bf66d, #14ed00, transparent);
}

.title {
  color: rgb(13, 255, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.inputWrapper {
  position: relative;
  width: 70%;
  margin: 20px 10%;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(13, 255, 0);
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 10px 10px 10px 38px;
  /* left padding makes room for icon */
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  height: 40px;
  width: 40%;
  align-self: center;
  background-color: rgb(13, 255, 0);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 20px;
}

.log_text {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.log_button {
  background: none;
  border: none;
  color: rgb(13, 255, 0);
  font-weight: bold;
  cursor: pointer;
}